<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <h2>{{ page_title }}</h2>
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <p>Want to join our company?  Please enquire about our open positions below:</p>
            </div>
            <div class="post-preview">
                <a href="#">
                    <h3 class="post-title">
                        Head of Human Resources
                    </h3>
                    <h4 class="post-subtitle">
                        Location: Middle Earth
                    </h4>
                    <h4 class="post-subtitle">
                        Years of Experience: 10+
                    </h4>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">Start Bootstrap</a>
                    on September 24, 2019</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="#">
                    <h3 class="post-title">
                        Chief Burglar
                    </h3>
                    <h4 class="post-subtitle">
                        Location: Middle Earth
                    </h4>
                    <h4 class="post-subtitle">
                        Years of Experience: 10+
                    </h4>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">Start Bootstrap</a>
                    on September 18, 2019</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="#">
                    <h3 class="post-title">
                        Travel Chef
                    </h3>
                    <h4 class="post-subtitle">
                        Location: Middle Earth
                    </h4>
                    <h4 class="post-subtitle">
                        Years of Experience: 5+
                    </h4>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">Start Bootstrap</a>
                    on August 24, 2019</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="#">
                    <h3 class="post-title">
                        Dragon Translator
                    </h3>
                    <h4 class="post-subtitle">
                        Location: Middle Earth
                    </h4>
                    <h4 class="post-subtitle">
                        Years of Experience: 10+
                    </h4>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">Start Bootstrap</a>
                    on July 8, 2019</p>
            </div>
        </div>
    </div>
{% endblock %}