<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <h3>Thorin and Company</h3>
        <p>
            Thorin and Company were a group of thirteen Dwarves, the Wizard Gandalf, and the Hobbit Bilbo Baggins, led by
            Thorin Oakenshield in TA 2941. Their purpose was to regain the lost Dwarven kingdom of the Lonely Mountain
            from the dragon Smaug.
        </p>
        <p>
            On April 26, 2941, Gandalf and the Dwarves arrived at Bag End. After a big tea and supper with Bilbo, they
            explained themselves and their intentions. Bilbo was at first reluctant to join the group but Gandalf rushed
            him out of the door.
        </p>
        <p>
            The deeds of Thorin and Company led to the restoration of the Dwarven Kingdom of the Lonely Mountain and the
            kingdom of Dale, the rebuilding of Lake-town, and restoration of peace and prosperity in the immediate area
            for many years.  In the long term, the journey of Thorin and Company and the situations it created led to the 
            Council of Elrond and the formation of the Fellowship of the Ring many years later and played a major part 
            setting in motion in the events of the War of the Ring.
        </p>
    </div>
</div>
{% endblock %}